<work>
	<description>Events of World War I</description>
	<item>file:/D:/GitHub/history/events/ww1/events-1914-15.xhtml</item>
	<item>file:/D:/GitHub/history/events/ww1/events-1916.xhtml</item>
	<item>file:/D:/GitHub/history/events/ww1/events-1917.xhtml</item>
	<item>file:/D:/GitHub/history/events/ww1/events-1918.xhtml</item>
	<item>file:/D:/GitHub/history/events/ww1/rowe.xhtml</item>
</work>